<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thetravella.librarymanagementsystem">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/books"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BookReturns"
            android:label="Book Returns"
            android:parentActivityName=".Home"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".UserBookRequests"
            android:label="My Book Requests"
            android:parentActivityName=".Home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BorrowRequests"
            android:parentActivityName=".Home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BookReview"
            android:parentActivityName=".Home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreateNewBook"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AuthorDetails"
            android:parentActivityName=".Authors"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Authors"
            android:label="Authors"
            android:parentActivityName=".Home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BookCategories"
            android:label="Book Categories"
            android:parentActivityName=".Home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateAccount"
            android:label="Create Account"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Home"
            android:label="LMS"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>